@model IEnumerable<BanHangOnline.Models.tb_ProductCategory>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <li><a href="/danh-muc-sam-pham/@item.Alias-@(item.Id)">@item.Title</a></li>
        @*<li class="active"><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Women</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">New Arrivals</a></li>
        <li><a href="#">Collection</a></li>
        <li><a href="#">Shop</a></li>*@
    }
}
